[

 {kernel, [
   {error_logger, {file, "error.log"}},
   {sync_nodes_mandatory, [
      node@node1,
      node@node2,
      node@node3,
      node@node4
   ]},
   {sync_nodes_timeout, infinity}
 ]},

 {sasl, [
         {sasl_error_logger, {file, "sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].